<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxd.order.dao.EmpOrderMapper">
    <insert id="insert">
        insert into emp_order (empno, orderno, deptno) VALUES
        <foreach collection="list" item="empOrder" separator=",">
            (#{empOrder.empno}, #{empOrder.orderno}, #{empOrder.deptno})
        </foreach>
    </insert>
</mapper>