<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxd.order.dao.UserMapper">
    <!-- User selectByNameAndPwd(@Param("username") String username, @Param("password") String password); -->
    <select id="selectByNameAndPwd" resultType="com.jxd.order.vo.EmpUserDeptVO">
        select userno,
               username,
               `password`,
               u.empno,
               access,
               dname,
               ename,
               sex,
               job,
               deptno
        from `user` u
                 inner join (select empno, ename, sex, tel, job, e.deptno, dname
                             from emp e
                                      inner join dept d on e.deptno = d.deptno) jo on u.empno = jo.empno
        where #{username} = username
          and #{password} = `password`
    </select>

    <insert id="insert">
        insert into user (username, password, empno, access)
        VALUES (#{username}, #{password}, #{empno}, #{access})
    </insert>

    <select id="selectByEmpno" resultType="com.jxd.order.model.User">
        select userno, username, password, empno, access
        from user
        where empno = #{empno}
    </select>
</mapper>